body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #e0e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #bb86fc; 
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333; 
    color: #e0e0e0; 
    font-size: 16px;
    resize: none;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #333;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bb86fc; 
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #9f6ce3; 
}

#outputText {
    background-color: #333; 
    color: #e0e0e0; 
}
